extends ./_layout.jade

block title
  title Options (Copy HTML)

block content
  div(class="container")
    div(class="raw")
      div(class="col-md-8")
        form(id="titles")
          table(class="table")
            thead
              tr
                th Type
                th Use
                th Auto copy on popup
            tbody(id="titles-tbody")

block postscript
  script(src="js/read_write_options.js")
  script(src="js/formats.js")
  script(src="js/options.js")

